/* Navigation
   ========================================================================== */

.dropdown-menu {
    list-style: none;
    border: 1px solid #999;
    padding-left: 0;
}

/* clearfix */
.dropdown-menu:after {
  content: "";
  display: table;
  clear: both;
}

.dropdown-menu > li {
    position: relative;
    display: block;
    float: left;
    border-right: 1px solid #999;
}

.dropdown-menu a {
    display: block;
    padding: 0 1em;
    line-height: 3em;
    text-decoration: none;
    color: #333;
}
.dropdown-menu a:hover,
.dropdown-menu a:focus {
    background: #e6f2ff;
}

.dropdown-menu li.active > a {
    background: #cce4ff;
}

.dropdown-menu ul {
    position: absolute;
    top: 3em;
    left: -9999px;
    z-index: 2;
    list-style: none;
    border: 1px solid #ccc;
    padding-left: 0;
    min-width: 10em;
    background: #fff;
}

.dropdown-menu li:hover ul,
.dropdown-menu ul.menu-open {
    left: -1px;
}
